* {
    margin: 0;
    padding: 0;
}

h1 {
    text-transform: capitalize;
    background: #0000ff;
    color: #fff;
    text-align: center;
    font-weight: 700;
    margin: 0 0 20px;
}

p {
    font-size: 20px;
    background: #000;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
}

img {
    margin-bottom: 15px;
}

/* website table */
.table-1 table{
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
}
.table-1 table th {
    background: #000;
    color: #fff;
}
.table-1 table td {
    padding: 25px;
    border: 1px solid #444;
}
.table-1 table img {
    width: 100px;
    height: 10ppx;
}
/* inputs */
.web-input{
    margin: 0 50px;
}
input{
    display: block;
    padding: 10px;
    margin: 10px;
    outline: none;
}
input[type="submit"] {
    width: 95px;
    background-color: tomato;
    color: #000;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}
.anchor{
    margin: 19px 0 55px 0;
}
.anchor a{
    text-decoration: none;
    background-color: #999;
    color: #000;
    padding: 10px;
    margin: 10px 10px;
}
.anchor h1{
    text-transform: lowercase;
    background-color: #fff;
    color: #000;
    text-align: left;
}

/* customers table style */

#customers {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #999;
}
#customers th {
    background-color: pink;
    text-align: left;
    padding: 12px 0;
}









/* footer */
footer{
    background-color: #000;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: tomato;
}