* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#shit {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

  
#shit td, #shit th {
    border: 1px solid #ddd;
    padding: 8px;
}

  
#shit tr:nth-child(even) {
    background-color: #f2f2f2;
}

  
#shit tr:hover {
    background-color: #ddd;
}

  
#shit th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #dc143c;
    color: white;
}
