* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 0 auto;
    background: #839192;
}

.clearfix {
    content: '';
    display: block;
    clear: both;
}

.ordered-list {
    float: left;
}

.unordered-list {
    float: right;
}

.ordered-list,
.unordered-list {
    background: #F9E79F;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
}

.ordered-list h3,
.unordered-list h3{ 
    text-align: center;
    margin-bottom: 15px;
    color: #dd2d53;
}


.ordered-list ol,
.unordered-list ul{
    background: #76D7C4;
    padding: 25px;
    border-radius: 10px;
}